.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section .error {
  font-size: 150px;
  color: #1976d2;
}

.page {
  margin: 2rem 0;
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

.back_home {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 1rem;
  transition: all 0.2s linear;
  box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4);
  background: #222;
  border-radius: 6px;
}
.back_home:hover {
  background: #1976d2;
  color: #fff;
}
